@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

body{
    background: url(Images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(61, 61, 55, 0.4);
}

h3{
    color: #7d634b;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.input-field{
    font-size: 15px;
    background: rgba(255,255,255,0.2);
    color: #f5f4f2;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus{
    background: rgba(255,255,255,0.2)
}

::-webkit-input-placeholder{
    color: #f5f4f2;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #f5f4f2;
}

#message{
    display: none;
}